@{
    ViewBag.Title = "Типи ГБО";
}

<div class="container gbo">
    <h2>Види ГБО</h2>
    <h3>перше покоління</h3>
    <p>Системи з вакуумним керуванням і механічним дозатором газу, які встановлюють на бензинові карбюраторні і прості інжекторні автомобілі. У першому поколінні використовуються як вакуумні, так і електронні газові редуктора. Без лямбда-зонда.</p>
    <img class="pull-left hidden-xs" src="~/img/1p.jpg">
    <h4>плюси</h4>
    <ul>
        <li>просте, недороге рішення</li>
        <li>може застосовуватися і на простих інжекторних двигунах без </li>
        <li>зворотного зв'язку</li>
    </ul>
    <h4>мінуси</h4>
    <ul>
        <li>не відповідає сучасним нормам безпеки</li>
        <li>це можна сказати «минуле століття», на якому грунтуються </li>
        <li>наступні покоління газового обладнання</li>
    </ul>
    <h4>опис</h4>
    <p>
        Це традиційні пристрої зі змішувачем газу. Принципова відмінність вакуумного редуктора від електронного полягає в запірному елементі розвантажувальної камери: в вакуумному цю функцію виконує вакуумна мембрана до якої подається розрідження від впускного колектора:
    </p>
    <ul>
        <li>двигун працює - є вакуум - редуктор відкритий</li>
        <li>двигун заглушений - вакууму немає - редуктор закритий</li>
    </ul>
    <h3>друге покоління</h3>
    <p>Механические системы, дополненные электронным дозирующим устройством, работающим по принципу обратной связи с датчиком содержания кислорода.</p>
    <img class="pull-right hidden-xs" src="~/img/2p.jpg">
    <h4>плюси</h4>
    <ul>
        <li>додаткове оснащення дозаторами газу</li>
        <li>гарантує підтримку екологічних вимог Євро 1</li>
    </ul>
    <h4>мінуси</h4>
    <ul>
        <li>велика ймовірність «ударів»</li>
        <li>скорочується термін експлуатації свічок запалювання і повітряного фільтра</li>
        <li>токсичність відпрацьованих газів автомобілів, оснащених такими системами, як правило, знаходиться на рівні норм ЄВРО-1, які діяли в Європі до 1996 року, і лише в окремих випадках наближаються до норм ЄВРО-2</li>
    </ul>
    <h4>Опис</h4>
    <p>Встановлюються на автомобілі, оснащені інжекторним двигуном, з лямбда-зондом і нейтралізатором і каталітичним нейтралізатором відпрацьованих газів ( "каталізатором"). Це традиційні пристрої зі змішувачем газу, додатково оснащені дозаторами газу.</p>
    <p>Для підтримки правильного складу газо-повітряної суміші Лямбда-контролери використовують сигнал від штатного Лямбда-зонда автомобіля, а так само сигнал положення дросельної заслінки і датчика обертів двигуна, для оптимізації паливно-повітряної суміші на перехідних режимах роботи двигуна.</p>


    <h3>третє покоління</h3>
    <p>На 80% схожа з ГБО 2-го покоління. Конструктивною особливістю даної установки є електронна дозування подачі палива.</p>
    <img class="pull-left hidden-xs" src="~/img/3p.jpg">
    <h4>плюси</h4>
    <ul>
        <li>вбудований електронний блок живлення забезпечує потрібну газоповітряну подачу</li>
        <li>робота здійснюється від подачі сигналів з датчиків мотора (Лямбда-зонд, RPM, TPS, MAP)</li>
        <li>
            особлива система подачі газу - за допомогою паралельного упорскування
            газовий мотор і ЕБУ (електронний блок управління)
        </li>
    </ul>
    <h4>мінуси</h4>
    <ul>
        <li>невелика швидкість реакції на зміну </li>
        <li>
            режиму їзди
            невисока швидкість реакції на коригування суміші
        </li>
        <li>невідповідність екологічним вимогам Євро-3</li>
    </ul>
    <h4>Опис</h4>
    <p>Проводиться індивідуальна подача газу в окремі циліндри дозуючим пристроєм (газовим інжектором), які мають однорівневе управління порцією газу, який управляється електронним блоком. Газ подається у впускний колектор за допомогою механічних форсунок, які відкриваються за рахунок надлишкового тиску в магістралі подачі газу.</p>

    <h3>четверте покоління</h3>
    <p>Це системи з розподіленим синхронізованим впорскування газу. Це новітні і найкращі з відомих сьогодні рішень в східній Європі: окреме управління подачею газу (форсунками газу) для кожного циліндра, які управляються більш сучасним електронним блоком.</p>
    <img class="pull-right hidden-xs" src="~/img/4p.jpg">
    <h4>плюси</h4>
    <ul>
        <li>функція автоматичного переходу з бензину на газ, і навпаки (коли газ в балоні закінчився)</li>
        <li> виключена ймовірність «ударів» </li>
        <li>сумісна з екологічними вимогами Euro 3, а також з системами бортової діагностики OBDІІ, EOBD</li>
        <li> є точною копією бензинового інжектора</li>
        <li> помилки при монтажі практично не можливі, тому що всі сполучні деталі уніфіковані. </li>
    </ul>

    <h4>Опис</h4>
    <p>Газова установка 4-го покоління відрізняється від попередніх тим, що є точною копією бензинового інжектора, а саме: кожен циліндр має свою форсунку, що подає розрахований необхідний для роботи даного циліндра уприскування газу. А робота форсунок контролюється ЕБУ. При цьому ЕБУ бере безпосередню участь в роботі двигуна на ГБО, працюючи з безліччю датчиків необхідних для коректної роботи двигуна на газу.</p>
    <p>Даний вид газового уприскування повністю виключає ймовірність «ударів», вимагає менше уваги до свічок запалювання та повітряного фільтру. Витрата газу максимально наближений до витрати бензину, зберігаючи при цьому динаміку автомобіля.</p>
</div>

